body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
#a{
  color:rgba(1, 1, 79, 0.76)
}
.tile-image{
  height: 200px;
  float: left;
  margin-right:25px;
}
.right{
  float:right;
}
.left{
  float:left;
}
.card{
  display: inline;
  width:50%;
}
h2{
  color:darkmagenta;
}
.card-text{
  color:darkgreen
}

@media (max-width:700px){
   .logo{
    width: 100px;
   }
   h1{
    font-size:3rem;  
    text-align: center;
   }
   .card {
   width:100%;
   display: block;
   text-align: justify; 
   margin-bottom:20px;
   }
  .tile-image{
    width:90%;
    margin-bottom: 15px;
    object-fit: cover;
  }
}